<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

</head>


<body>
<div class="container">
    <header>
        {{ include('menu/entete.html.twig') }}
    </header>
    {% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="flash flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% endfor %}
<hr>
    <main>

        {% block body %}Voici mon site internet {% endblock %}

    </main>
    <hr>
    <footer>
        {{ include('menu/footer.html.twig') }}
    </footer>

</div>
</body>
</html>
