    <div class="entete">
    <h1>Bucket-List - <a href="{{path('main_home')}}"><img src="{{ asset('img/logo.svg') }}"></a></h1>

        <nav class ="manav">
            <ul>
                <li><a href="{{ path('main_home') }}">Home</a></li>
                <li><a href="{{ path('wish_list') }}">Wish list !</a></li>
                <li><a href="{{ path("main_aboutus") }}">About us !</a></li>
                <li><a href="{{ path('wish_add') }}">Add a wish !</a></li>
            </ul>
        </nav>
    </div>